.container {
  display: flex;
  justify-content: center;
  /* flex-direction: column-reverse; */
  align-items: center;
  height: 100vh;
  border: 2px solid black;
}

.item {
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

.second {
  width: 250ox;
  height: 500px;
  border: 2px solid black;
}
